<a href="https://colab.research.google.com/github/Tridung2k3/ThucHanhToanCC/blob/main/TRR_15_6_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**BÀI 1**

In [6]:
from datetime import datetime # Tham chiếu đến thư viện lấy ngày giờ hiện hành
from datetime import timedelta # tham chiếu đến thư viện tính toán khoảng thời gian
def millis(start_time): # start_time là tham số lưu trữ thời gian trước đó
 dt = datetime.now() - start_time # lấy hiệu 2 thời gian: thời gian hiện hành và trước đó
 ms = (dt.days * 24 * 60 * 60 + dt.seconds) * 1000 + dt.microseconds / 1000.0
 return ms # trả về là giá trị mili giây
def milisec_passed(start_time):
 thoigian_troi_qua = millis(start_time)
 s = "Thoi gian da troi qua:" + str(int(thoigian_troi_qua)) + " mili giay."

In [7]:
def tong1(n):
 bat_dau = datetime.now() # Ghi nhận thời điểm bắt đầu
 ket_qua = n*(n+1)/2
 thoi_gian = str(milisec_passed(bat_dau)) # Tính toán thời gian trôi qua
 print(thoi_gian)
 return ket_qua 
tong1(100000000)

None

5000000050000000.0

In [8]:
def tong(n):
 bat_dau = datetime.now() # Ghi nhận thời điểm bắt đầu
 ketqua = 0
 for i in range(n+1):
  ketqua = ketqua + i
 thoi_gian = str(milisec_passed(bat_dau)) # Tính toán thời gian trôi qua
 print(thoi_gian)
 return ketqua
tong(100000000)

None

5000000050000000

**BÀI 2**

In [9]:
def fibo(n):
 if (n == 0) or (n == 1):
  return 1
 else:
  return fibo(n-1) + fibo(n-2)

In [10]:
def fibo_mem(n, so_da_tinh={0:0, 1:1}):
  if(n not in so_da_tinh):
    so_da_tinh[n]=fibo_mem(n-1,so_da_tinh)+fibo_mem(n-2, so_da_tinh)
  return so_da_tinh[n]
print(fibo_mem(6))

8

**BÀI 3** (Chương 3)

In [11]:
bongda_VN = ["Văn Lâm", "Tiến Dũng", "Anh Đức", "Công Phượng"]
for cau_thu in bongda_VN:
 print ("Ten cau thu VietNam: ", cau_thu)

Ten cau thu VietNam:  Văn Lâm
Ten cau thu VietNam:  Tiến Dũng
Ten cau thu VietNam:  Anh Đức
Ten cau thu VietNam:  Công Phượng

In [12]:
bongda_TG = ["Messi", "Ronaldo", "Thonglao", "Mbappé"]
for cau_thu in bongda_TG:
 print ("Ten cau thu The gioi: ", cau_thu)

Ten cau thu The gioi:  Messi
Ten cau thu The gioi:  Ronaldo
Ten cau thu The gioi:  Thonglao
Ten cau thu The gioi:  Mbappé

In [13]:
for bong_VN in bongda_VN:
 for bong_TG in bongda_TG: 
  print ("Khả năng tranh chấp quả bóng vàng giữa: ", bong_VN, " với ", bong_TG)

Khả năng tranh chấp quả bóng vàng giữa:  Văn Lâm  với  Messi
Khả năng tranh chấp quả bóng vàng giữa:  Văn Lâm  với  Ronaldo
Khả năng tranh chấp quả bóng vàng giữa:  Văn Lâm  với  Thonglao
Khả năng tranh chấp quả bóng vàng giữa:  Văn Lâm  với  Mbappé
Khả năng tranh chấp quả bóng vàng giữa:  Tiến Dũng  với  Messi
Khả năng tranh chấp quả bóng vàng giữa:  Tiến Dũng  với  Ronaldo
Khả năng tranh chấp quả bóng vàng giữa:  Tiến Dũng  với  Thonglao
Khả năng tranh chấp quả bóng vàng giữa:  Tiến Dũng  với  Mbappé
Khả năng tranh chấp quả bóng vàng giữa:  Anh Đức  với  Messi
Khả năng tranh chấp quả bóng vàng giữa:  Anh Đức  với  Ronaldo
Khả năng tranh chấp quả bóng vàng giữa:  Anh Đức  với  Thonglao
Khả năng tranh chấp quả bóng vàng giữa:  Anh Đức  với  Mbappé
Khả năng tranh chấp quả bóng vàng giữa:  Công Phượng  với  Messi
Khả năng tranh chấp quả bóng vàng giữa:  Công Phượng  với  Ronaldo
Khả năng tranh chấp quả bóng vàng giữa:  Công Phượng  với  Thonglao
Khả năng tranh chấp quả bóng vàng giữa:  Công Phượng  với  Mbappé

In [14]:
N = 4 #  giả định các số nguyên không vượt quá N là 4
for i1 in range(0, N):
 for i2 in range(0, N):
   for i3 in range(0, N):
     print (i1, i2, i3)

0 0 0
0 0 1
0 0 2
0 0 3
0 1 0
0 1 1
0 1 2
0 1 3
0 2 0
0 2 1
0 2 2
0 2 3
0 3 0
0 3 1
0 3 2
0 3 3
1 0 0
1 0 1
1 0 2
1 0 3
1 1 0
1 1 1
1 1 2
1 1 3
1 2 0
1 2 1
1 2 2
1 2 3
1 3 0
1 3 1
1 3 2
1 3 3
2 0 0
2 0 1
2 0 2
2 0 3
2 1 0
2 1 1
2 1 2
2 1 3
2 2 0
2 2 1
2 2 2
2 2 3
2 3 0
2 3 1
2 3 2
2 3 3
3 0 0
3 0 1
3 0 2
3 0 3
3 1 0
3 1 1
3 1 2
3 1 3
3 2 0
3 2 1
3 2 2
3 2 3
3 3 0
3 3 1
3 3 2
3 3 3

In [15]:
for i1 in range(0, N):
 for i2 in range(i1+1, N):
  for i3 in range(i2+1, N):
    print (i1, i2, i3)

0 1 2
0 1 3
0 2 3
1 2 3

In [16]:
for i1 in range(0, N):
 for i2 in range(i1, N):
  for i3 in range(i2, N):
    print (i1, i2, i3)

0 0 0
0 0 1
0 0 2
0 0 3
0 1 1
0 1 2
0 1 3
0 2 2
0 2 3
0 3 3
1 1 1
1 1 2
1 1 3
1 2 2
1 2 3
1 3 3
2 2 2
2 2 3
2 3 3
3 3 3

In [18]:
def implies(a, b):
 if a:
  return b
 else:
  return True
print(implies(10, 11))
print(implies(1, 11))
print(implies(0, 11))

11
11
True

In [19]:
ketqua = []
for i1 in range(0, N):
 for i2 in range(i1, N):
  for i3 in range(i2, N):
   ketqua = ketqua + [(i1, i2, i3)]

In [20]:
(0, 2, 2) in ketqua

True

In [21]:
(0, 2, 1) in ketqua

False

In [22]:
A = [0, 1, 2, 3, 4, 5, 6, 7]
B = [2, 4, 6, 8, 10]
def intersection(A, B):
 ketqua = []
 for x in A:
  if x in B:
   ketqua = ketqua + [x]
 return ketqua 
intersection(A, B)
a= set(A)
b= set(B)
print(print(a.intersection(b)))

{2, 4, 6}
None